<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='media/Favicon.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Flask Web Server Template | {% block page_name %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>

    <div class="content">
    
        {% block content %}{% endblock %}
        
    </div>

</body>
</html>