body {
    background-color: #FDFFFC;
    text-align: center;
    margin: 0;
  }

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.mainNav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A77E58;
    width: 100vw;
    height: 10vh;
}

.mainNav img {
    height: 30px;
}

.homePage {
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
gap: 20px;
}

p {
    margin: 0;
}

.homePointsContainer {
background-color: beige;
width: 90vw;
height: 30vh;
margin-top: 20px;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
border: solid 3px black;
position: relative;
}

.homePointsContainer p{
position: absolute;
top: 15px;
left: 137px;
}

h3 {
    color: #FACF5A;
    font-size: 100px;
}

.tagline {
font-size: 37px;
margin: 0;
width: 100vw;
margin: 10px;
}

.homeTaskContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: scale(1.9);
margin-top: 20px;
gap: 12px;
}

.homeTask {
border: solid 2px black;
width: 30vw;
border-radius: 10px;
background-color: brown;
}

.virtueTask {
    background-color: #C4E0F9;
}

.selflessTask {
    background-color: #D99AC5;
}

.adventureTask {
    background-color: #EF5D60;
}